body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(138, 32%, 69%); 
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 90px;
    background-color: slategrey;
    border-bottom: 0px solid black;

  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 70px;
    font-size: 20px;
    
  }
  
  li {
    display: block;
    font-weight: bold;
    align-content: center;

  }
  
  li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #0f0f0f; 
    transition: background-color 0.3s;
    border-radius: 1px;
  }
  li a:hover {
    background-color: hsl(123, 24%, 52%);
    border-radius: 1px;
  }
  .section {
    padding: 20px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
  }
  
  .section:hover {
    border-bottom: 2px solid #007bff; 
  }
  